<header>
    <div class="head">
        <img class="vigne" src="{{ asset('assets/img/vigne3.png') }}" alt="">
    </div>

    <!---------------------------ICONE MEGAPHONE------------------------------->
    <div class="circleMegaphone">
    </div>
    <div class="boite play">
        <img src="{{ asset('assets/img/megaphone.svg') }}" id="player">
    </div>

    <!---------------------------BACKGROUND AUDIO------------------------------->
    <audio id="background_audio" autoplay="autoplay">
        <source src="{{ asset('assets/song/nature.mp3') }}" />
    </audio>

    <!-------------------------BACKGROUND AUDIO ON/OFF--------------------------->
    <script>
        var audio = document.getElementById('background_audio');

        document.getElementById('player').addEventListener('click', function (e)
        {
            e = e || window.event;
            audio.muted = !audio.muted;
            e.preventDefault();
        }, false);
    </script>

    <!------------------------SWITCH ICONE MEGAPHONE---------------------------->
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous">
    </script>

    <script>

        $(function() {
            $('#player').click(function() {
                $('.boite').toggleClass('play').toggleClass('mute');
            })
        })
    </script>

</header>

