<header>
    <div class="head">
        <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/home.svg') }}" alt=""></a>
        <img class="vigne" src="{{ asset('assets/img/vigne3.png') }}" alt="">
    </div>
</header>