<header>
    <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/home.svg') }}" alt=""></a>
    <div class="homeReturn">
        <a href="{{ path('home_lesZanimeo') }}"><img src="{{ asset('assets/img/title2.png') }}" alt=""></a>
    </div>
    <h1>Le chien</h1>
</header>