{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="formLogin">
        <div class="messageConfirmation">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
        <br><br>
        <div class="btnConnectLogin">
            <a href="{{ path('home_lesZanimeo') }}"><button class="btn btn-success">Retour à l'accueil</button></a>
        </div>
    </div>
{% endblock fos_user_content %}
