.homeButtonAdmin {
  position: absolute;
  top: 8px;
  width: 10%;
}

.lastname {
  background: blue;
  display: flex;
}

.formulaire {
  width: 50%;
  margin: 0 auto;
  background: #4DBDC5;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}

.container {
  z-index: 2;
}

.row {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-around;
}

.glyphicon-trash { color:rgb(209, 91, 71); }
.glyphicon-plus { color: black; margin-left: 829px; }
.panel-body { padding:0; }
.panel-heading { background-color: #4DBDC5; color: white;}
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0; }

.pictureAdmin {
  width: 10%;
}

.pictureAdmin img {
  width: 100%;
}

.login {
  display: flex;
}

.form-control {
  margin-bottom: 20px;
}

#fos_user_registration_form {
  margin: 0 auto;
}

#fos_user_registration_form li {
  color: red;
}

#fos_user_registration_form_email, #fos_user_registration_form_username, #fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* ------------------------FORMULAIRE LOGIN------------------------*/

.formLogin{
  margin: 100px auto;
}

.formLogin h1 {
  text-align: center;
  margin: 30px;
}

.formLogin2 {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  background-image: url("../img/intro2.jpg");
  background-size: cover;
  /*
  background: #C2976A;
  */
  padding: 20px;
  border-radius: 5px;
}

.formLogin2 button {
  margin: 20px auto;
  display: block;
}

.formLogin3 {
  width: 90%;
  height: 90%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 25px auto;
}

.form-group {
  margin-top: 37px;
}

.btn-light {
  background: #8959A8;
  border: white;
  color: white;
}

.labelContact {
  color: #8959A8;
  font-weight: bold;
  padding-bottom: 7px;
}

.btnConnectLogin {
  text-align: center;
}

.messageConfirmation {
  color: black;
}