.homeReturn {
  width: 15%;
  margin-left: 20px;
}

.homeReturn img {
  width: 100%;
}

.contentAnimals {
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleAnimals {
  margin: 50px;
  font-size: 400%;
  text-align: center;
  color: #5eb5e0;
}

.animalPicture {
  width: 20%;
  margin-left: 100px;
}

.animalPicture img {
  width: 100%;
}

.animalStory {
  width: 50%;
  margin: 50px;
}

figure {
  width: 20%;
  margin-left: 150px;
  margin-top: 20px;
  text-align: center;
}

.test {
  font-size: 600%;
  color: black;
}

.returnPage a {
  width: 400px;
  position: absolute;
  top: 90%;
}

.return {
  width: 50px;
  position: absolute;
  top: 90%;
  left: 10%;
}

.next {
  width: 50px;
  position: absolute;
  top: 90%;
  right: 10%;
}

