.homebutton {
  width: 100%;
}

.titleFarm, .titleBugs, .titleBirds {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.titleFarm {
  top: 15%;

}

.titleBugs {
  top: -5%;
}

.titleBirds {
  top: 8%;
}

.titleFarm img, .titleBugs img, .titleBirds img {
  width: 100%;
}

/*------------------------------------------------FONDU TITLE FAMILY--------------------------------------------------*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*--------------END FONDU---------------*/

.contentFamily {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.farmFamily {
  width: 46%;
}

.bugsFamily {
  width: 43%;
}

.birdsFamily {
  width: 48%;
}

.farmFamily img, .bugsFamily img, .birdsFamily img {
  width: 100%;
}

/*-----------------------------------------------FAMILLES ANIMAUX ANNEXES---------------------------------------------*/
.sideFamily1, .sideFamily2 {
  /*
  cursor: pointer;
  */
  width: 15%;
  opacity: 0.5;
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.sideFamily1 img, .sideFamily2 img {
  width: 100%;
}

.sideFamily1:hover, .sideFamily2:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.dog, .horse, .pig, .rabbit, .sheep, .cow, .ladyBird, .snail, .grasshopper, .caterpillar, .spider, .dragonfly,
.pheasant, .toucan, .peacock, .parrot, .penguin, .parakeet {
  cursor: pointer;
  position: absolute;
  opacity: 1;
}

.dog img, .horse img, .pig img, .rabbit img, .sheep img, .cow img, .ladyBird img, .snail img, .grasshopper img,
.caterpillar img, .spider img, .dragonfly img, .pheasant img, .toucan img, .peacock img, .parrot img, .penguin img, .parakeet img {
  width: 100%;
}

/*--------------------------------------------------------HITBOX------------------------------------------------------*/
.dog {
  width: 10%;
  top: 50%;
  right: 28%;
}

.horse {
  width: 11%;
  top: 28%;
  left: 41%;
}

.pig {
  width: 10%;
  top: 55%;
  left: 50%;
}

.rabbit {
  width: 8%;
  top: 36%;
  left: 53%;
}

.sheep {
  width: 12%;
  top: 49%;
  left: 40%;
}

.cow {
  width: 14%;
  top: 38%;
  left: 28%;
}

.ladyBird {
  width: 8%;
  top: 55%;
  left: 60%;
}

.snail {
  width: 6%;
  top: 65%;
  left: 54%;
}

.grasshopper {
  width: 8%;
  top: 40%;
  left: 49%;
}

.caterpillar {
  width: 12%;
  top: 63%;
  left: 37%;
}

.spider {
  width: 15%;
  top: 48%;
  left: 30%;
}

.dragonfly {
  width: 12%;
  top: 23%;
  left: 57%;
}

.pheasant {
  width: 13%;
  top: 52%;
  left: 45%;
}

.toucan {
  width: 10%;
  top: 26%;
  left: 26%;
}

.peacock {
  width: 12%;
  top: 43%;
  left: 37%;
}

.parrot {
  width: 8%;
  top: 40%;
  left: 56%;
}

.penguin {
  width: 10%;
  top: 50%;
  left: 64%;
}

.parakeet {
  width: 8%;
  top: 61%;
  left: 29%;
}



