.content {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  /*background: blue;*/
}

.quiz {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.farmHome, .bugsHome, .birdsHome {
  width: 28%;
}

.farmHome, .bugsHome, .birdsHome, .quiz {
  cursor: pointer;
  /*---------ZOOM----------*/
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.farmHome:hover, .bugsHome:hover, .birdsHome:hover, .quiz:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
  /*---------END ZOOM----------*/

.farmHome img, .bugsHome img, .birdsHome img {
  width: 100%;
}

/*--------------------------------------MEGAPHONE---------------------------------*/
.button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
  display: none;
}

.play {
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
}

.mute {
  background-image: url("../img/mute.svg");
  background-repeat: no-repeat;
}

.circleMegaphone {
  width: 80px;
  height: 80px;
  background: linear-gradient(#C2976A, rosybrown);
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px;
  border-radius: 50px;
  display: none;
}

.title {
  width: 40%;
  margin: 0 auto;
  /*----------INGE----------*/
  -webkit-animation-name: jello;
  animation-name: jello;
  animation-duration: 1.5s;
}

/*--------------------------------------TITRE "LES ZANIMEO"---------------------------------*/
.title img {
  width: 100%;
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

