.popUpMegaphone, .popUpQuiz, .popUpHome, .popUpRegistration, .animalText, .popUpFamily, .popUpFamilyAnnexes1, .popUpFamilyAnnexes2 {
  padding: 10px;
  position: absolute;
  /*background: linear-gradient(#C2976A, rosybrown);*/
  background: white;
  color: #94EB00;
  border: 1px solid #94EB00;
  box-shadow: 3px 3px 5px -1px rgba(207,207,207,0.5);
  display: none;
}

/*body {
  background: blue;
}*/

#m, #q, #a, #f, #r, .animalText, #popUpFamily, #popUpFamilyAnnexes1, #popUpFamilyAnnexes2 {
  color: #64CC00;
  text-align: center;
  font-size: x-large;
}

.popUpMegaphone {
  top: 11%;
  right: 5%;
  border-radius: 10px 0 10px 10px;
}

.popUpQuiz {
  top: 19%;
  left: 6%;
  border-radius: 0 10px 10px 10px;
}

.popUpHome {
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 10px 10px;
}

.popUpFamily {
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 10px 10px;
}

.popUpFamilyAnnexes1 {
  top: 80%;
  left: 20%;
  transform: translateX(-50%);
  border-radius: 0 10px 10px 10px;
}

.popUpFamilyAnnexes2 {
  top: 80%;
  right: 10%;
  transform: translateX(-50%);
  border-radius: 10px 0 10px 10px;
}

.popUpRegistration {
  top: 13%;
  right: 29%;
  border-radius: 10px 10px 10px 10px;
}

.dog .animalText, .horse .animalText, .pig .animalText, .rabbit .animalText, .sheep .animalText, .cow .animalText,
.ladyBird .animalText, .snail .animalText, .grasshopper .animalText, .caterpillar .animalText, .spider .animalText, .dragonfly .animalText,
.pheasant .animalText, .toucan .animalText, .peacock .animalText, .parrot .animalText, .penguin .animalText, .parakeet .animalText {
  display: none;
}

.dog:hover .animalText, .horse:hover .animalText, .pig:hover .animalText, .rabbit:hover .animalText , .sheep:hover .animalText ,
.cow:hover .animalText , .ladyBird:hover .animalText, .snail:hover .animalText, .grasshopper:hover .animalText,
.caterpillar:hover .animalText, .spider:hover .animalText, .dragonfly:hover .animalText, .pheasant:hover .animalText,
.toucan:hover .animalText, .peacock:hover .animalText, .parrot:hover .animalText, .penguin:hover .animalText, .parakeet:hover .animalText {
  display: block;
  -webkit-animation-name: jello;
  animation-name: jello;
  animation-duration: 1.5s;
}

