.contentQuiz {
  background: #f1f2f3;
  height: 1000px;
}

.quizHeader {
  padding: 30px;
  display: flex;
}

.homeButtonQuiz {
  width: 10%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.homeButtonQuiz img {
  width: 100%;
}

.quiz2Button {
  width: 10%;
  margin: 0 auto;
}

.quiz2Button img {
  width: 100%;
}

.content1Quiz {
  width: 90%;
  margin: 30px auto;
  padding: 50px;
  background: white;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
}

.content2Quiz {
  width: 90%;
  margin: 30px auto;
  padding: 50px;
  background: white;
  border: solid 1px black;
  border-radius: 10px;
}

.contentLeftQuiz {
  width: 60%;
}

.contentLeftQuiz img {
  width: 30%
}

.contentRightQuiz, .contentTextQuiz, .contentScoreQuiz {
  width: 40%;
  padding: 20px;
  text-align: center;
}

.contentScoreQuiz {
  margin: 0 auto;
}

.contentRightQuiz h1, .contentScoreQuiz h1 {
  color: #5eb5e0;
}

.questionNumber {
  margin: 50px auto;
}

.bravoResponse {
  color: #4E8F00;
}

.desoleResponse {
  color: #C82333;
}

.questionMessage {
  color: #5eb5e0;
}

.contentQuestionsQuiz {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.contentImgQuiz {
  width: 30%;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.contentImgQuiz img {
  width: 100%;
}

.btnScore {
  text-align: center;
}









