html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Avenir Next"; }

a {
  color: #000; }

h1 {
  margin: 0; }

.messageConfirmation {
  text-align: center; }

.head {
  width: 100%; }

.homeButton {
  position: absolute;
  width: 10%;
  left: 3%;
  top: 2%; }

.vigne {
  width: 85%;
  float: right; }

.foot, .herbe {
  width: 100%; }

.popUpMegaphone, .popUpQuiz, .popUpHome, .popUpRegistration, .animalText, .popUpFamily, .popUpFamilyAnnexes1, .popUpFamilyAnnexes2 {
  padding: 10px;
  position: absolute;
  background: white;
  color: #64CC00;
  border: 1px solid #64CC00;
  box-shadow: 3px 3px 5px -1px rgba(207, 207, 207, 0.5);
  display: none;
  font-size: x-large; }

#m, #q, #a, #f, #r, .animalText, #popUpFamily, #popUpFamilyAnnexes1, #popUpFamilyAnnexes2 {
  color: #64CC00;
  text-align: center;
  font-size: x-large; }

.popUpMegaphone {
  top: 11%;
  right: 5%;
  border-radius: 10px 0 10px 10px; }

.popUpQuiz {
  top: 19%;
  left: 6%;
  border-radius: 0 10px 10px 10px; }

.popUpHome {
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 10px 10px; }

.popUpFamily {
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 10px 10px; }

.popUpFamilyAnnexes1 {
  top: 79%;
  left: 28%;
  transform: translateX(-50%);
  border-radius: 0 10px 10px 10px; }

.popUpFamilyAnnexes2 {
  top: 79%;
  right: 10%;
  transform: translateX(-50%);
  border-radius: 10px 0 10px 10px; }

.popUpRegistration {
  top: 13%;
  right: 31%;
  border-radius: 10px 10px 10px 10px; }

.dog .animalText, .horse .animalText, .pig .animalText, .rabbit .animalText, .sheep .animalText, .cow .animalText,
.ladyBird .animalText, .snail .animalText, .grasshopper .animalText, .caterpillar .animalText, .spider .animalText, .dragonfly .animalText,
.pheasant .animalText, .toucan .animalText, .peacock .animalText, .parrot .animalText, .penguin .animalText, .parakeet .animalText {
  display: none; }

.dog:hover .animalText, .horse:hover .animalText, .pig:hover .animalText, .rabbit:hover .animalText, .sheep:hover .animalText,
.cow:hover .animalText, .ladyBird:hover .animalText, .snail:hover .animalText, .grasshopper:hover .animalText,
.caterpillar:hover .animalText, .spider:hover .animalText, .dragonfly:hover .animalText, .pheasant:hover .animalText,
.toucan:hover .animalText, .peacock:hover .animalText, .parrot:hover .animalText, .penguin:hover .animalText, .parakeet:hover .animalText {
  display: block;
  -webkit-animation-name: jello;
  animation-name: jello;
  animation-duration: 1.5s; }

.intro {
  background-image: url("../img/intro2.jpg");
  background-size: cover;
  height: 100vh;
  padding: 50px; }

.intro2 {
  width: 90%;
  height: 90%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 20px auto; }

.intro2 .title {
  width: 60%; }

.intro3 {
  width: 70%;
  margin: 100px auto; }

.pigIntro {
  color: #F5871F;
  text-transform: uppercase; }

.pigIntro h1 {
  text-align: center; }

.pigIntro img {
  width: 20%;
  margin: 20px; }

.lienHome {
  position: absolute;
  right: 10%; }

.content {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

.quiz {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.sidenav {
  background: rgba(254, 254, 254, 0.7);
  text-align: center;
  min-width: 200px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 50px 50px;
  border: 1px solid #64CC00;
  font-size: 20px; }

.farmHome, .bugsHome, .birdsHome {
  width: 28%; }

.farmHome, .bugsHome, .birdsHome, .quiz {
  /*---------ZOOM----------*/
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease-out; }

.farmHome:hover, .bugsHome:hover, .birdsHome:hover, .quiz:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); }

/*---------END ZOOM----------*/
.farmHome img, .bugsHome img, .birdsHome img {
  width: 100%; }

/*------------------------------------------------------MEGAPHONE-----------------------------------------------------*/
.button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
  display: none; }

.play {
  background-image: url("../img/main/play.svg");
  background-repeat: no-repeat; }

.mute {
  background-image: url("../img/main/mute.svg");
  background-repeat: no-repeat; }

.circleMegaphone {
  width: 80px;
  height: 80px;
  background: #64CC00;
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px;
  border-radius: 50px;
  border: 1px solid white;
  display: none; }

/*---------------------------------------------------LOGO "LES ZANIMEO"-----------------------------------------------*/
.title {
  width: 40%;
  margin: 0 auto;
  /*----------INGE----------*/
  -webkit-animation-name: jello;
  animation-name: jello;
  animation-duration: 1.5s; }

.title img {
  width: 100%; }

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }
.homeButtonAdmin {
  position: absolute;
  top: 8px;
  width: 10%; }

.lastname {
  background: blue;
  display: flex; }

.formulaire {
  width: 50%;
  margin: 0 auto;
  background: #4DBDC5;
  padding: 20px;
  border-radius: 5px;
  display: flex; }

.container {
  z-index: 2; }

.row {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-around; }

.glyphicon-trash {
  color: #d15b47; }

.glyphicon-plus {
  color: black;
  margin-left: 130px; }

.panel-body {
  padding: 0; }

.panel-heading {
  background-color: #4DBDC5;
  color: white; }

.panel-footer .pagination {
  margin: 0; }

.panel .glyphicon, .list-group-item .glyphicon {
  margin-right: 5px; }

.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  background-color: whitesmoke; }

.list-group {
  margin-bottom: 0; }

.pictureAdmin {
  width: 10%; }

.pictureAdmin img {
  width: 100%; }

.login {
  display: flex; }

.form-control {
  margin-bottom: 20px; }

#fos_user_registration_form {
  margin: 0 auto; }

#fos_user_registration_form li {
  color: red; }

#fos_user_registration_form_email, #fos_user_registration_form_username, #fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px; }

/*-------------------------------------------------FORMULAIRE LOGIN---------------------------------------------------*/
.formLogin {
  margin: 100px auto; }

.formLogin h1 {
  text-align: center;
  margin: 30px; }

.formLogin2 {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  background-image: url("../img/intro2.jpg");
  background-size: cover;
  padding: 20px;
  border-radius: 5px; }

.formLogin2 button {
  margin: 20px auto;
  display: block; }

.formLogin3 {
  width: 90%;
  height: 90%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 25px auto; }

.form-group {
  margin-top: 37px; }

.btn-light {
  background: #8959A8;
  border: white;
  color: white; }

.labelContact, .labelInsertAnimals {
  color: #8959A8;
  font-weight: bold;
  padding-bottom: 7px; }

.btnConnectLogin {
  text-align: center; }

.messageConfirmation {
  color: black; }

.deleteSecurity {
  cursor: pointer; }

.deleteSecurityModal {
  margin-top: 16px;
  display: none;
  position: fixed;
  z-index: 77;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  border: 2px solid red;
  background-color: white;
  text-align: center;
  color: black; }

.securityResponses {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 30px;
  cursor: pointer;
  color: black !important; }

.valid {
  margin-top: 16px; }

.contentQuiz {
  background: #f1f2f3;
  height: 1000px; }

.quizHeader {
  padding: 30px;
  display: flex; }

.homeButtonQuiz {
  width: 10%;
  position: absolute;
  top: 5%;
  left: 5%; }

.homeButtonQuiz img {
  width: 100%; }

.quiz2Button {
  width: 10%;
  margin: 0 auto; }

.quiz2Button img {
  width: 100%; }

.content1Quiz {
  width: 90%;
  margin: 30px auto;
  padding: 50px;
  background: white;
  border: solid 1px black;
  border-radius: 10px;
  display: flex; }

.content2Quiz {
  width: 90%;
  margin: 30px auto;
  padding: 50px;
  background: white;
  border: solid 1px black;
  border-radius: 10px; }

.contentLeftQuiz {
  width: 60%; }

.contentLeftQuiz img {
  width: 30%; }

.contentRightQuiz, .contentTextQuiz, .contentScoreQuiz {
  width: 40%;
  padding: 20px;
  text-align: center; }

.contentScoreQuiz {
  margin: 0 auto; }

.contentRightQuiz h1, .contentScoreQuiz h1 {
  color: #5eb5e0; }

.questionNumber {
  margin: 50px auto; }

.bravoResponse {
  color: #1ED33C; }

.desoleResponse {
  color: #FF4933; }

.questionMessage {
  color: #5eb5e0; }

.contentQuestionsQuiz {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center; }

.contentImgQuiz {
  width: 30%;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  background: white;
  text-align: center; }

.contentImgQuiz img {
  width: 100%; }

.btnScore {
  text-align: center; }

.homebutton {
  width: 100%; }

.titleFarm, .titleBugs, .titleBirds {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1.5s; }

.titleFarm {
  top: 15%; }

.titleBugs {
  top: -5%; }

.titleBirds {
  top: 8%; }

.titleFarm img, .titleBugs img, .titleBirds img {
  width: 100%; }

/*------------------FONDU TITLE FAMILY------------------------*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
/*---------------------------END FONDU------------------------*/
/*-----------------------------------------------FAMILLES ANIMAUX---------------------------------------------*/
.contentFamily {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

.farmFamily {
  width: 50%; }

.bugsFamily {
  width: 43%; }

.birdsFamily {
  width: 48%; }

.farmFamily img, .bugsFamily img, .birdsFamily img {
  width: 100%; }

/*-----------------------------------------------FAMILLES ANIMAUX ANNEXES---------------------------------------------*/
.sideFamily1, .sideFamily2 {
  /*
  cursor: pointer;
  */
  width: 15%;
  opacity: 0.5;
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease-out; }

.sideFamily1 img, .sideFamily2 img {
  width: 100%; }

.sideFamily1:hover, .sideFamily2:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); }

.dog, .horse, .pig, .rabbit, .sheep, .cow, .ladyBird, .snail, .grasshopper, .caterpillar, .spider, .dragonfly,
.pheasant, .toucan, .peacock, .parrot, .penguin, .parakeet {
  cursor: pointer;
  position: absolute;
  opacity: 1; }

.dog img, .horse img, .pig img, .rabbit img, .sheep img, .cow img, .ladyBird img, .snail img, .grasshopper img,
.caterpillar img, .spider img, .dragonfly img, .pheasant img, .toucan img, .peacock img, .parrot img, .penguin img, .parakeet img {
  width: 100%; }

/*--------------------------------------------------------HITBOX------------------------------------------------------*/
.dog {
  width: 10%;
  top: 50%;
  right: 28%; }

.horse {
  width: 11%;
  top: 28%;
  left: 41%; }

.pig {
  width: 10%;
  top: 55%;
  left: 50%; }

.rabbit {
  width: 8%;
  top: 36%;
  left: 53%; }

.sheep {
  width: 12%;
  top: 49%;
  left: 40%; }

.cow {
  width: 14%;
  top: 38%;
  left: 28%; }

.ladyBird {
  width: 8%;
  top: 55%;
  left: 60%; }

.snail {
  width: 6%;
  top: 65%;
  left: 54%; }

.grasshopper {
  width: 8%;
  top: 40%;
  left: 49%; }

.caterpillar {
  width: 12%;
  top: 63%;
  left: 37%; }

.spider {
  width: 15%;
  top: 48%;
  left: 30%; }

.dragonfly {
  width: 12%;
  top: 23%;
  left: 57%; }

.pheasant {
  width: 13%;
  top: 52%;
  left: 45%; }

.toucan {
  width: 10%;
  top: 26%;
  left: 26%; }

.peacock {
  width: 12%;
  top: 43%;
  left: 37%; }

.parrot {
  width: 8%;
  top: 40%;
  left: 56%; }

.penguin {
  width: 10%;
  top: 50%;
  left: 64%; }

.parakeet {
  width: 8%;
  top: 61%;
  left: 29%; }

.homeReturn {
  width: 15%;
  margin-left: 20px; }

.homeReturn img {
  width: 100%; }

.contentAnimals {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.titleAnimals {
  margin: 50px;
  font-size: 400%;
  text-align: center;
  color: #5eb5e0; }

.animalPicture {
  width: 20%;
  margin-left: 100px; }

.animalPicture img {
  width: 100%; }

.animalStory {
  width: 50%;
  margin: 50px; }

figure {
  width: 20%;
  margin-left: 150px;
  margin-top: 20px;
  text-align: center; }

.test {
  font-size: 600%;
  color: black; }

.returnPage a {
  width: 400px;
  position: absolute;
  top: 90%; }

.return {
  width: 50px;
  position: absolute;
  left: 10%;
  margin: 20px; }

.next {
  width: 50px;
  position: absolute;
  top: 90%;
  right: 10%; }

@media screen and (max-width: 640px) {
  /*----------------------------------------------------------INTRO---------------------------------------------------*/
  .intro {
    padding: 10px; }

  .intro2 {
    width: 90%;
    height: 90%;
    margin: 40px auto;
    padding: 10px; }

  .intro2 .title {
    width: 100%;
    margin-top: 80px; }

  .intro3 {
    width: 100%;
    margin-top: 20px; }

  .intro3 h1 {
    font-size: x-large; }

  .pigIntro img {
    position: absolute;
    left: 35%;
    top: 60%; }

  .lienHome {
    position: absolute;
    right: 10%;
    bottom: 14%; }

  /* --------------------------------------------------------HOME-----------------------------------------------------*/
  .popUpMegaphone, .popUpQuiz, .popUpHome, .popUpRegistration, .animalText, .popUpFamily, .popUpFamilyAnnexes1, .popUpFamilyAnnexes2 {
    display: none !important; }

  .sidenav {
    width: 100%;
    height: 15%;
    background: #f1f2f3;
    border-radius: 0 0 0 0;
    font-size: 25px; }

  .head {
    margin-top: 100px; }

  .content {
    flex-wrap: wrap; }

  .quiz {
    margin-top: 100px;
    width: 15%; }

  .button {
    position: absolute;
    top: 11%;
    right: -6%; }

  .circleMegaphone {
    display: none !important; }

  .farmHome, .bugsHome, .birdsHome {
    width: 80%; }

  .title {
    width: 65%; }

  .homeButton {
    width: 20%;
    margin-left: 40%; }

  /*------------------------------------------------------ADMIN-------------------------------------------------------*/
  .formLogin {
    width: 90%; }

  .formLogin2 {
    width: 90%; }

  .homeButtonAdmin {
    width: 20%; }

  .glyphicon-plus {
    margin-left: 100px; }

  /*-------------------------------------------------------QUIZ-------------------------------------------------------*/
  .contentQuiz {
    height: 110vh; }

  .content2Quiz {
    display: block; }

  .quizHeader {
    padding: 10px; }

  .contentQuestionsQuiz {
    display: block;
    padding: 0; }

  .contentImgQuiz {
    margin: 0 auto;
    width: 50%; }

  .contentTextQuiz {
    width: 100%;
    padding: 0;
    margin-top: 20px; }

  .contentTextQuiz h1 {
    font-size: xx-large; }

  .contentLeftQuiz {
    display: none; }

  .contentRightQuiz {
    width: 100%; }

  .contentRightQuiz h1 {
    font-size: xx-large; }

  .contentScoreQuiz {
    width: 100%; }

  .btnScore {
    text-align: center; }

  .homeButtonQuiz {
    width: 20%; }

  .quiz2Button {
    width: 20%; } }
@media screen and (max-width: 640px) and (max-width: 640px) {
  /*----------------------------------------------------FAMILY--------------------------------------------------------*/
  .sideFamily1, .sideFamily2 {
    display: none; }

  .farmFamily {
    width: 80%; }

  .bugsFamily {
    width: 80%; }

  .birdsFamily {
    width: 80%; }

  .titleFarm {
    position: absolute;
    top: 20%; }

  .titleBugs {
    position: absolute;
    top: 14%; }

  .titleBirds {
    position: absolute;
    top: 17%; }

  /*----------------------------------------------------HITBOX--------------------------------------------------------*/
  .dog {
    width: 13%;
    top: 37%;
    right: 14%; }

  .horse {
    top: 23%; }

  .pig {
    top: 41%;
    left: 51%;
    width: 18%; }

  .rabbit {
    top: 31%;
    left: 57%; }

  .sheep {
    top: 39%;
    left: 37%; }

  .cow {
    width: 18%;
    top: 30%;
    left: 15%; }

  .pheasant {
    width: 16%;
    top: 41%;
    left: 48%; }

  .toucan {
    width: 15%;
    top: 22%;
    left: 11%; }

  .peacock {
    width: 19%;
    top: 32%;
    left: 30%; }

  .parrot {
    width: 15%;
    top: 33%;
    left: 59%; }

  .penguin {
    width: 15%;
    top: 36%;
    left: 75%; }

  .parakeet {
    width: 15%;
    top: 40%;
    left: 16%; }

  .ladyBird {
    width: 12%;
    top: 41%;
    left: 69%; }

  .snail {
    width: 13%;
    top: 45%;
    left: 55%; }

  .grasshopper {
    width: 12%;
    top: 32%;
    left: 51%; }

  .caterpillar {
    width: 18%;
    top: 45%;
    left: 28%; }

  .spider {
    width: 28%;
    top: 36%;
    left: 15%; }

  .dragonfly {
    width: 23%;
    top: 22%;
    left: 62%; }

  /* --------------------------------------------------ANIMALS--------------------------------------------------------*/
  .questionNumber {
    margin-top: 100px; }

  .titleAnimals {
    font-size: 50px;
    margin-top: 100px; }

  .contentAnimals {
    flex-wrap: wrap; }

  .animalPicture {
    width: 50%;
    margin: 0 auto; }

  .animalStory {
    width: 80%; }

  figure {
    width: 100%;
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
