{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/home.svg') }}" alt=""></a>
            <h1 class="questionNumber">REPONSE 1/18</h1>

            <div class="contentQuestionsQuiz">
                <div class="contentImgQuiz">
                    <img src="{{ asset('assets/img/dog.png') }}" alt="">
                </div>

                <div class="contentFalseQuiz">
                    <h1>DESOLE, MAUVAISE REPONSE</h1><br><br>
                    <p>Le chien est un mammifère de la famille des
                        Canidés qui comprend aussi le Loup gris
                        et le dingo, un chien domestique redevenu
                        sauvage.<br><br><br>
                    <div class="btn-group" role="group" aria-label="Button">
                        <a href="{{ path('question1') }}"><button type="button" class="btn btn-info">CONTINUER</button></a>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}