{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/main/home.svg') }}" alt=""></a>
            <div class="quizHeader">
                <img src="{{ asset('assets/img/main/quiz2.png') }}" alt="">
            </div>
            <div class="content2Quiz">
                <div class="contentScoreQuiz">
                    <h1>Voici ton score !</h1><br><br>
                    <p>Tu as répondu correctement à 18 questions, bravo !<br><br><br>
                    <div class="btn-group" role="group" aria-label="Button">
                        <a href="{{ path('questions', {'id': 1}) }}"><button type="button" class="btn btn-info">Relancer le Quiz</button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}